@media screen and (max-width: 1040px) {
  .header--light {
    font-size: 12px;
    flex-wrap: nowrap;
  }

  .header-wrapper {
    max-width: 1140px;
    flex-wrap: nowrap;
  }

  .main-menu__list {
    font-size: 12px;
    max-width: 400px;
  }

  .section-partners--wrapper {
    justify-content: center;
  }

  .section-partners--wrapper h2 {
    text-align: center;
  }

  .contact-form--wrapper {
    margin-right: 10px;
  }

  .contact-form--wrapper h2 {
    font-size: 20px;
  }

  .contact-form--wrapper p {
    font-size: 12px;
  }

  .footer-top {
    padding: 0px 10px;
  }

  .footer-middle--wrapper {
    padding: 0px 10px;
  }

  .inner-page .partners-list {
    justify-content: center;
}

  .inner-page .partners-list li {
    margin-right: 20px;
  }

}

@media screen and (max-width: 768px) {

  .header-wrapper{
    font-size: 10px;
  }

  .main-menu__list {
    max-width: 300px;
    font-size: 10px;
  }

  .button--yellow {
    font-size: 10px;
    padding: 10px 15px;
  }

  .service-item__img {
    border-width: 55px;
  }

  .service-item__up {
    left: 40px;
  }

  .contact-form--wrapper {
    padding-left: 10px;
  }

  .contact-form--wrapper::before {
    display: none;
  }

  .phone-form {
    margin-right: 10px;
  }

  .button--yellow--form {
    margin-right: 20px;
  }

  .contact-form--wrapper p {
    font-size: 10px;
    text-align: center;
  }

  .contact-form--wrapper h2 {
    font-size: 16px;
    text-align: center;
  }

  .footer-middle__list {
    flex-direction: column;
  }

  .footer-menu {
    font-size: 12px;
  }

  .social-list {
    width: 70px;
  }

  .social-list__item {
    font-size: 12px;
    width: 20px;
    height: 20px;
  }

  .footer-middle--wrapper {
    max-width: 100%;
    font-size: 12px;
  }

  .list-contacts {
    width: 100%;
  }

  .footer-middle__list-official {

    justify-content: center;

  }

  .footer-bottom {
    padding: 0px 10px;
    font-size: 10px;
  }

}

@media screen and (max-width: 425px) {
  .contact-form {
    width: 100%;
  }

  .contact-form--m {
    display: block;
  }

  .contact-form--m h2 {
    color: #efbd1f;
    margin-bottom: 0px;
    padding-top: 0px;
  }

  .contact-form h2,
  .contact-form p {
    display: none;
  }

  .contact-form--m p {
    margin-top: 0;
  }

  .inner-page .partners-list {
    justify-content: center;
  }

  .all-content {
    flex-direction: column;
  }

  .right-content {
    width: 265px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .exp {
    display: none;
  }

  .header {
    max-width: 600px;
  }

  .main-menu__list {
    display: none;
  }

  .select-list {
    display: none;
  }

  .menu-bar {
    display: flex;
  }

  .main-header {
    font-size: 36px;
  }

  .section--service {
    max-width: 600px;
  }

  .service-list {
    width: 100%;
  }

  .service-item__img {
    width: 100%;
  }

  .second-menu {
    margin-left: 0px;
  }

  .footer-menu {
    height: auto;
  }

  .footer-top--left {
    flex-direction: column;
  }

  .footer-menu--left,
  .footer-menu-right {
    display: none;
  }

  .important-article {
    max-width: 100%;
  }

  .page-wrapper {
    flex-direction: column;
  }

  .important-article__wrapper {
    display: flex;
    flex-direction: column;
  }

  .article__item {
    flex-direction: column;
  }

  .article__item img {
    align-self: center;
    margin-bottom: 15px;
  }

  .article__item .article__header {
    align-self: center;
    text-align: center;
  }

}


@media screen and (max-width: 320px) {
  .call-button--header {
    display: none;
  }


}
