.articles {
  width: 100%;
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.articles__header {
  @include title;
  background-color: $bgr-dark;
  padding: 5px 0 3px 0;
  margin: 0 10px 20px 10px;
}

.articles__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}
