.partners {
  width: 31%;
}
.partners__title {
  @include title;
  text-align: left;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 15px;
}

.partners__list {
  @include list-norm;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__item {
  position: relative;
  border: 1px solid $text-light;
  margin-bottom: 10px;
}

.partners__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: 0.5s
}

.partners__link {
  width: 100%;
  height: 100%;
}

.partners__item:hover .partners__hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.partners--inner {
  @include container;
  margin-bottom: 20px;
  margin-top: 30px;
}

.partners--inner h2 {
  @include title;
  background-color: $bgr-dark;
  padding: 5px 0 3px 0;
  margin: 0;
  margin-bottom: 20px;
}

@media (max-width: 890px) {
  .partners {
    width: 100%;
  }

  .partners__list {
    justify-content: space-around;
  }
}
